@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Eczar&display=swap');

:root {
    --teal: 087E8B; 
}

.font {
    font-family: 'Eczar'
}

#modal-display {
    display: block;
}

#portfolio-cards {
    width: 28vw;
    height: 15vh;
    text-align: left;
    
}


