:root {
  --darkBlue: #1d2d44;
  --medBlue: #3e5c76;
  --lightBlue: #748cab;
  --cream: #f0ebd8;
  --color5: #0d1321;
  --red: rgb(213, 60, 60);
  --photoFade: calc(var(--hiType) + var(--imJC) + var(--typeWriterSpeed));
--typeWriterSpeed: 1.5s;
--typeWriterChars: 23;
--staticText: calc(var(--header) + var(--typeWriterSpeed) + .7s);
--dynamicText: calc(var(--header) + var(--typeWriterSpeed) + 3s);
--imJC: 2s;
--hiType: .5s;
--blinkSpeed: 1s;
--blinkSteps: 20;
--start: .3s;
--header: calc(var(--start) + var(--typeWriterSpeed) + var(--hiType) + var(--imJC));

}

ul {
  margin-left: 0 !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.hi {
  position: relative;
  font-family: 'Play' !important;
  width: max-content;
}

.hi::before {
  background: var(--darkBlue);
  animation: typewriter var(--hiType) steps(4) var(--start) forwards, 
  to-white .1s ease 1s forwards;
  /* blinking var(--blinkSpeed) steps(20) 1s  infinite; */

}

.hi::after {
  width: .125em;
  background: white;
  animation: typewriter var(--hiType) steps(4) var(--start) forwards,  
  blinking var(--blinkSpeed) steps(var(--blinkSteps)) infinite, 
  to-blue .4s ease calc(var(--hiType)) forwards;

}

h2 span.abt-me-animation {
  position: relative;
  font-family: 'Play' !important;
  width: max-content;
  text-align: center !important;
}

h2 span.hi::before,
h2 span.hi::after,
h2 span.abt-me-animation::before,
h2 span.abt-me-animation::after {
  content: '';
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h2 span.abt-me-animation::before {

  background: var(--darkBlue);
  animation: typewriter var(--typeWriterSpeed) steps(var(--typeWriterChars)) var(--imJC) forwards;
}

.abt-me-animation::after {
  width: .125em;
  background: var(--darkBlue);
  animation: 
  typewriter var(--typeWriterSpeed) steps(var(--typeWriterChars)) var(--imJC) forwards, 
  to-white .4s ease calc(var(--hiType) + var(--start))forwards, 
  blinking var(--blinkSpeed) steps(var(--blinkSteps)) infinite, 
  to-blue .3s ease calc(var(--staticText) - .1s) forwards;

}

img.photo-anim {
  opacity: 0;
  transform: rotateX(3rem); 
  animation: fadeIn 3s ease calc(var(--photoFade) + 1s)forwards
}

.wrapper {
  display: flex;
  font-family: 'Play';
  text-align: left !important;
  font-size: 5vh;
}

.about-font {
  color: white !important;
}

.wrapper .static-text {
  font-size: 5vh;
}

.wrapper .dynamic-text { 
  height: 7vh;
  overflow: hidden;
}
.word1 {
  padding-right: 50px;
}

.static-text {
  position: relative;
  height: 7vh;
}

.static-text::before {
  background: var(--darkBlue);
  animation: typewriter 1s steps(6) calc(var(--staticText) + .5s) forwards;
}

span.static-text::after {
  width: .125em;
  background: var(--darkBlue);
  animation: 
  typewriter 1s steps(6) calc(var(--staticText) + .5s) forwards, 
  to-white .3s ease var(--staticText) forwards,
  to-blue .7s ease calc(var(--staticText) + 1.8s) forwards,
  blinking var(--blinkSpeed) steps(var(--typeWriterChars)) infinite;

}

.static-text::before,
.static-text::after,
.dynamic-text li span::before,
.dynamic-text li span::after {
  content: '';
  position: absolute;
  left: 0;
  height: 120%;
  width: 100%;
}

.dynamic-text li::before {
  background: var(--darkBlue);
  animation: typewriter var(--typeWriterSpeed) .5s steps(var(--typeWriterChars)) calc(var(--dynamicText) + 1s) forwards;
}

/* .dynamic-text li {
  list-style: none;
  position: relative;

  color: var(--red);
  top: 0;
  animation: slide 6s steps(3) calc(var(--dynamicText) + 1s) infinite;
} */

.dynamic-text li {
  list-style: none;
  position: relative;
  /* font-size: 5.5vh; */
  color: var(--red);
  top: 0;
  text-align: center;
}

li.word1 {
  animation: slide 8.25s steps(3) calc(var(--dynamicText) + 1s) forwards;

}

li.word2 {
  animation: slide 8s steps(3) calc(var(--dynamicText) + 1.25s) forwards;
  
}

li.word3 {
  animation: slide 8.5s steps(3) calc(var(--dynamicText) + 1s) forwards;
}

li.word4 {
  animation: slide 8.25s steps(3) calc(var(--dynamicText) + .5s) forwards;
}


.word-1,
.word-2,
.word-3,
.word-4 {
  position: relative;
  width: max-content;
}


.dynamic-text li span.word-1::before {
  background: var(--darkBlue);
  animation: typing 2s steps(20) calc(var(--dynamicText) + 1s) forwards;
  animation-iteration-count: 1;
}

.dynamic-text.word-1::after {
  width: .125em;
  background: var(--darkBlue);
  animation: typing 2s steps(20) calc(var(--dynamicText) + 1s) forwards,
  blinking var(--blinkSpeed) steps(var(--typeWriterChars)) infinite,
  to-white 1s ease var(--dynamicText) forwards;
  /* to-blue .3s ease calc(var(--dynamicText) + 6.2s) forwards; */
  animation-iteration-count: 1;
}

.dynamic-text li span.word-2::before {
  background: var(--darkBlue);
  /* background: white; */
  animation: typing 2s steps(15) calc(var(--dynamicText) + 4s) forwards;
  animation-iteration-count: 1;
}

.dynamic-text.word-2::after {
  width: .125em;
  background: var(--darkBlue);
  animation: typing 2s steps(15) calc(var(--dynamicText) + 4s) forwards,
  blinking var(--blinkSpeed) steps(var(--typeWriterChars)) infinite,
  to-white 1s ease var(--dynamicText) forwards;
  animation-iteration-count: 1;
}

.dynamic-text li span.word-3::before {
  background: var(--darkBlue);
  animation: typing 1s steps(8) calc(var(--dynamicText) + 7s) forwards;
  animation-iteration-count: 1;
  
}

.dynamic-text.word-3::after {
  width: .125em;
  background: var(--darkBlue);
  animation: typing 1s steps(8) calc(var(--dynamicText) + 7s) forwards,
  blinking var(--blinkSpeed) steps(var(--typeWriterChars)) infinite,
  to-white 1s ease var(--dynamicText) forwards;
  animation-iteration-count: 1;
}

.dynamic-text li span.word-4::before {
  background: var(--darkBlue);
  animation: typing 2s steps(18) calc(var(--dynamicText) + 9s) forwards;
  animation-iteration-count: 1;
  
}

.dynamic-text.word-4::after {
  width: .125em;
  background: var(--darkBlue);
  animation: typing 2s steps(18) calc(var(--dynamicText) + 9s) forwards,
  to-white 1s ease var(--dynamicText) forwards,
  blinking var(--blinkSpeed) steps(var(--typeWriterChars)) infinite; 
  animation-iteration-count: 1;
}

  
  @keyframes typewriter { 
    to {
      left: 100%;
    }
  }
  
  @keyframes blinking {
    to {
      background: transparent;
    }
  }

  @keyframes to-blue {
    to {
      background: var(--darkBlue)
    }
  }

  @keyframes to-white {
    to {
      background: white;
    }
  }

  @keyframes fadeIn {
    to {
        opacity: 1;
        transform: rotateX('360')
    }
  }
  @keyframes slide {
  100% {
    /* top: -270px; */
    /* top: -22.3vh; */
    top: -22.4vh;
  }
}


  /* @keyframes color-change {
  0% {
    border-left-color: white;
  }
  95% {
    border-left-color: white;
  }
  100% {
    border-left-color: var(--darkBlue);
  }
} */


@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -10px 0 10px;
  }
}

