:root {
  --darkBlue: #1d2d44;
  --medBlue: #3e5c76;
  --lightBlue: #748cab;
  --cream: #f0ebd8;
  --color5: #0d1321;
  --red: rgb(213, 60, 60);
  --photoFade: calc(var(--hiType) + var(--imJC) + var(--typeWriterSpeed));
--typeWriterSpeed: 1.5s;
--typeWriterChars: 23;
--staticText: calc(var(--header) + var(--typeWriterSpeed));
--dynamicText: calc(var(--header) + var(--typeWriterSpeed) + 2s);
--imJC: 2s;
--hiType: .5s;
--blinkSpeed: 1s;
--blinkSteps: 20;
--start: .3s;
--header: calc(var(--start) + var(--typeWriterSpeed) + var(--hiType) + var(--imJC));

}

.hi {
  position: relative;
  font-family: 'Play' !important;
  width: max-content;
}

.hi::before {
  background: var(--darkBlue);
  animation: typewriter var(--hiType) steps(4) var(--start) forwards, 
  to-white .1s ease 1s forwards;
  /* blinking var(--blinkSpeed) steps(20) 1s  infinite; */

}

.hi::after {
  width: .125em;
  background: white;
  animation: typewriter var(--hiType) steps(4) var(--start) forwards,  
  blinking var(--blinkSpeed) steps(var(--blinkSteps)) infinite, 
  to-blue .1s ease calc(var(--hiType)) forwards;
 
  
}

h2 span.abt-me-animation {
  position: relative;
  font-family: 'Play' !important;
  width: max-content;
  text-align: center !important;
  /* animation-play-state: paused; */
}

h2 span.hi::before,
h2 span.hi::after,
h2 span.abt-me-animation::before,
h2 span.abt-me-animation::after {
  content: '';
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h2 span.abt-me-animation::before {

  background: var(--darkBlue);
  animation: typewriter var(--typeWriterSpeed) steps(var(--typeWriterChars)) var(--imJC) forwards;
}

.abt-me-animation::after {
  width: .125em;
  background: var(--darkBlue);
  animation: 
  
  typewriter var(--typeWriterSpeed) steps(var(--typeWriterChars)) var(--imJC) forwards, 

  to-white .1s ease calc(var(--hiType) + var(--start)) forwards, 
  blinking var(--blinkSpeed) steps(var(--blinkSteps)) infinite, 
  to-blue .9s ease calc(var(--staticText) - .5s) forwards;
  
  /* color-change 1s ease var(--staticText) forwards, to-blue 1s ease calc(var(--staticText) - 2s) forwards; */
  
  /* keyframes, anim duration, anim fill mode */

  /* keyframes, duration, anim-time-function */

}

img.photo-anim {
  opacity: 0;
  transform: rotateX(3rem); 
  animation: fadeIn 3s ease calc(var(--photoFade) + 1s)forwards
}

.wrapper {
  display: flex;
  font-family: 'Play';
  text-align: left !important;
  /* margin-left: 10vw; */
  /* text-align: center; */
  font-size: 5vh;
}

.about-font {
  color: white !important;
}

.wrapper .static-text {
  /* font-size: 60px; */
  font-size: 5vh;
}

.wrapper .dynamic-text { 
  /* height: 85px; */
  height: 7vh;
  /* line-height: 90px; */
  /* line-height: normal; */
  overflow: hidden;
}

.static-text {
  position: relative;
  /* margin: 0 !important;
  padding: 0 !important; */
  height: 7vh;
  /* font-size: 5vh; */
}
.static-text::after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--darkBlue);
  border-left: 2px solid var(--darkBlue);
  animation: typewriter 1s steps(6) calc(var(--staticText) + .5s) forwards, color-change 2s ease var(--staticText) forwards;
}

ul {
  margin-left: 0 !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.dynamic-text li::before {
  
  background: var(--darkBlue);
  animation: typewriter var(--typeWriterSpeed) .5s steps(var(--typeWriterChars)) forwards;
}

.dynamic-text li{
  list-style: none;
  position: relative;
  /* font-size: 5.5vh; */
  color: var(--red);
  top: 0;
  animation: slide 6s steps(3) var(--dynamicText) infinite;
}

.dynamic-text li span{
 position: relative;  

}

.dynamic-text li span::before,
.dynamic-text li span::after {
  content: '';
  position: absolute;
  left: 0;
  height: 120%;
  width: 100%;
}

.dynamic-text li span::before {
  background: var(--darkBlue);
  animation: typing 2s steps(19) var(--dynamicText) infinite;
  animation-iteration-count: 3;
  
}

.dynamic-text li span::after {
  /* border-left: .125em solid var(--darkBlue); */
  width: .125em;
  background: var(--darkBlue);
  animation: typing 2s steps(19) var(--dynamicText) infinite,
  blinking var(--blinkSpeed) steps(var(--typeWriterChars)) infinite, to-white 1s ease var(--dynamicText) forwards, to-blue .5s ease calc(var(--dynamicText) + 4.5s) forwards; 
  /* animation-delay: calc(var(--typeWriterSpeed) + 2); */
  animation-iteration-count: 3;
  /* steps is largest word length */
}
  
  @keyframes typewriter { 
    to {
      left: 100%;
    }
  }
  
  @keyframes blinking {
    to {
      background: transparent;
    }
  }

  @keyframes to-blue {
    to {
      background: var(--darkBlue)
    }
  }

  @keyframes to-white {
    to {
      background: white;
    }
  }


  @keyframes border-to-blue {
    0% {
      border-left-color: white;
    }
    /* 95% {
      border-left-color: white;
    } */
    100% {
      border-left-color: var(--darkBlue)
    }
  }

  @keyframes fadeIn {
    to {
        opacity: 1;
        transform: rotateX('360')
    }
  }
  @keyframes slide {
  100% {
    /* top: -270px; */
    /* top: -22.3vh; */
    top: -22.4vh;
  }
}

/* @keyframes to-white {
  to {
    border-left-color: white;
  }
} */

  @keyframes color-change {
  0% {
    border-left-color: white;
  }
  95% {
    border-left-color: white;
  }
  100% {
    border-left-color: var(--darkBlue);
  }
}


@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -20px 0 20px;
  }
}

