:root {
  --darkBlue: #1d2d44;
  --medBlue: #3e5c76;
  --lightBlue: #748cab;
  --cream: #f0ebd8;;
  --color5: #0d1321;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.black-font {
  color: black;
}

.about-me-container {
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: space; */
 
}
.page-container {
  min-height: 100vh;
}

.list-dots {
  list-style-type: none;
}

.med-blue-background {
  background-color: var(--medBlue);
}

.headshot {
    margin-top: 2vh;
    /* margin-bottom: 5vh; */
    height: 40vh;
    width: auto;
}
.list-items {
  background-color: var(--cream) !important;
  color: var(--darkBlue) !important;
}

.about-me {
  margin-top: 5vh;
}
.contact-links {
  text-decoration: none !important;
  color: var(--cream);
  background-color: var(--medBlue)
}

.contact-links:hover {
   opacity: .70;
   color: var(--cream) !important;
   background-color: var(--lightBlue) !important;
} 

/* a:hover {
  background-color: var(--cream);
   opacity: .75;
} */

.contact-card {
  margin: 0 auto;
  border: 0 !important; 
}
.cream-font {
  color: var(--cream) !important;
}

.bio {
  /* font-size: 2.45vh; */
  font-size: 1.2rem;
  padding-bottom: 5vh;
}

.dark-blue-font {
  color: var(--darkBlue) !important;
}
.message-input {
  margin: 0 auto;
}

.color-scheme {
  background-color: var(--darkBlue);
  color: var(--cream);
}

.resume-margin {
  margin-top: 10vh;
}

.margin-auto {
  margin: 0 auto;
}
.icon-color {
  color: var(--medBlue) !important;
}
.icon-color:hover {
  
    opacity: .90;
    color: var(--lightBlue) !important;
    /* background-color: var(--lightBlue) !important; */
}

.no-radius {
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}

.footer-background {
  background-color: var(--cream) !important;
}

.btm-footer {
  margin-bottom: auto !important; 
  margin-top: 60px; 
  
}

.react-icons {
  font-size: larger;
}







